h1 {
font-size: 100px;

}

ul{
    display: flex;
    justify-content: center;
    background-color: gray;
    
}

#logo{
    max-width: 100px;
}

ul li{
    list-style: none;
    padding: 40px;
}

ul img{
    max-width: 20px;
    padding: 40px;
    object-fit: contain;
}
