h1 {
font-size: 100px;

}

ul{
    display: flex;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    
}

#logo{
    max-width: 100px;
}

ul li{
    list-style: none;
    padding: 40px;
    display: flex;
}

ul img{
    max-width: 20px;
    padding: 40px;
    object-fit: contain;
}

.lista{ 
    display: flex;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}